[Unit]
Description=Emacs: sync org mode

[Service]
Type=oneshot
WorkingDirectory=%h/ORG/
Environment="GIT_SSH_COMMAND="ssh -i %h/.ssh/id_rsa_bb"
ExecStart=/usr/bin/git pull

[Install]
WantedBy=timers.target
