[Unit]
Description=GPG Agent Daemon
#IgnoreOnIsolate=true

[Service]
#ExecStartPre=if ($((/bin/pgrep gpg))); then /usr/bin/pkill -9 gpg; fi
ExecStart=/usr/bin/gpg-agent --daemon --no-detach
ExecStartPost=/usr/bin/gpg-connect-agent /bye
ExecStop=/usr/bin/pkill gpg-agent
ExecReload=/usr/bin/gpgconf --reload gpg-agent
Type=forking
Restart=on-abort

[Install]
WantedBy=default.target
