[Unit]
Description=GPG Agent Daemon
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/gpg-agent --daemon --no-detach
ExecStop=/usr/bin/pkill gpg-agent
ExecReload=/bin/kill -HUP $MAINPID
Type=forking
Restart=on-abort


[Install]
WantedBy=default.target
