[Unit]
Description=Start offlineimap as a daemon
Requires=gpg-agent.service
After=gpg-agent.service

[Service]
CPUShares=512
#Type=forking

ExecStart=/usr/bin/offlineimap
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=default.target
