[Unit]
Description=Start offlineimap as a daemon
After=gpg-agent.service
Requires=gpg-agent.service

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap
KillSignal=SIGUSR2
#Restart=on-failure

[Install]
WantedBy=timers.target
