[Unit]
Description=Run offlineimap daily and on boot

[Timer]
OnBootSec=5min
OnCalendar=*:*:1,30
Unit=offlineimap.service

[Install]
WantedBy=multi-user.target
