[Unit]
Description=PulseAudio Sound System
Documentation=man:pulseaudio(1)
Before=sound.target
#Requires=dbus.socket

[Service]
Type=forking
#BusName=org.pulseaudio.Server
#ExecStartPre=/usr/bin/pulseaudio -k
ExecStart=/usr/bin/pulseaudio -D -vvvv
ExecStartPost=/usr/bin/pacmd unload-module module-combine
ExecStop=/usr/bin/pulseaudio --kill
Restart=always
RestartSec=5
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
